<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p><%= @user.name %>
<p><%= image_tag @user.avatar.url %>
<p><%= image_tag @user.avatar.url(:medium) %>
<p><%= image_tag @user.avatar.url(:thumb) %>
